.background-image-blog {
  height: 30vw;
  background-image: url("../content/pictures/blogs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;

  padding-top: 9.5%;
}
.background-image-blog h1 {
  font-size: 7vw;
  color: aliceblue;
  text-align: center;
}
