.intro {
  background-color: #000e1f;
  text-align: center;
}
.intro-image {
  height: auto;
  max-height: 550px;
  width: 100%;
}
.intro-text {
  color: ghostwhite;
  font-size: 6vw;
  text-align: center;
  justify-content: center;
  padding-top: 12vw;
  padding-bottom: 5vw;
  text-align: center;
}
.aboutUs {
  background-color: #e1eff2;
  text-align: center;
}
.blank {
  height: 6vw;
  background-color: white;
}
.aboutUsContent {
  padding: 50px;
  text-align: center;
}
