.intro {
  background-color: #000e1f;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}
.background-image-home {
  height: 30vw;
  background-image: url("../content/pictures/SCH_professional.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 9.5%;
}
.intro-image {
  height: 100%;
  max-height: 550px;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.intro-text {
  color: ghostwhite;
  font-size: 6vw;
  text-align: center;
  justify-content: center;
  padding-top: 12vw;
  padding-bottom: 5vw;
  text-align: center;
}
.aboutUs {
  background-color: #e1eff2;
  text-align: center;
}
.blank {
  height: 6vw;
  background-color: white;
}
.aboutUsCard {
  background-color: #ffffff;
}
.card {
  height: auto !important;
}
