.background-image-projects {
  height: 30vw;
  background-image: url("../content/projects.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 9.5%;
}
.background-image-projects h1 {
  font-size: 7vw;
  color: aliceblue;
  text-align: center;
}
