.background-image-talks {
  height: 30vw;
  background-image: url("../content/pictures/talks.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 9.5%;
}
.background-image-talks h1 {
  font-size: 7vw;
  color: aliceblue;
  text-align: center;
}
