.App-header {
  background-color: #000e1f;
  min-height: 400vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  font-family: 'Lora', serif;
  color: white;
  text-align: center;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
}

div:empty {
  padding-top:50px;
  height:0;
}

.App {
  width: 100%;
}
